<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <center>
        <!--Pagina de Login para rescatar datos de BBDD-->
        <H1>Pagina de Login</H1>
        <form action="submit" method="post"><!--aqui deberia ir el metodo GET?-->
            <label for="usuario">Usuario:</label>
            <input type="text" name="usuario" id="nombre" required placeholder="Ingrese un usuario">
            <br>
            <br>            
            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password" required>
            <br>
            <br>
            <input type="submit" value="INGRESAR_sin accion">
            <br>
            <br>            
        </form>       
        <br>
        <br>
        <a href="{% url 'portada' %}"><button>Portada</button></a>
    </center>


</body>
</html>
