<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portada</title>
</head>

<body>
    <center>
        <h1> Bienvenido a mi página web </h1>
        <h1> Web desde 0 </h1>
        <p>Aplicando contenido WEB</p>
        <br>
        <br>
        <a href="{% url 'registro' %}"><button>Registro</button></a>
        <br>
        <br>
        <a href="{% url 'login' %}"><button>Login</button></a>
        <a href="{% url 'reservas' %}"><button>Reservas</button></a>
        </center>

</body>
</html>
