<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>

<body>
    <center>
        <!--Registro de usuario para conectar con la BBDD-->
        <H1>Pagina de Registro</H1>
        <br>
        <br>     

        {% if messages %}
        <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}        
        
        <form action="{% url 'nuevo_usuario' %}" method="post">
            {% csrf_token %}
            <label for="usuario">Usuario:</label>
            <input type="text" name="usuario" id="nombre" required placeholder="Ingrese un usuario">
            <br>
            <br>            
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" required placeholder="Nombre y apellido">
            <br>
            <br>            
            <label for="email">Email:</label>            
            <input type="email" name="email" id="email" required>
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <br>
            <br>
            <input type="submit" value="Registrar">
            <br>
            <br>            
        </form>       
        <a href="{% url 'portada' %}"><button>Portada</button></a>
    </center>

</body>
</html>
