<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mi_web/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Reservas</title>
</head>
<body>

    <Center>
        <img src="{% static 'mi_web/images/LogoDUOC.PNG' %}" alt="Reservas" width="400">

    <h1>Sistema de Reservas</h1>

    <!-- Formulario de Reservas -->
    <form action="{% url 'reservas' %}" method="post">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" required placeholder="Ingrese su nombre">
        <label for="rut">Rut:</label>
        <input type="text" name="rut" id="rut" required placeholder="Ingrese su rut">
        <label for ="Cargo">Cargo:</label>
        <input type="text" name="cargo" id="cargo" required placeholder="Ingrese su cargo">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" id="fecha" required>
        <label for="hora">Hora:</label>
        <input type="time" name="hora" id="hora" required>
        <input type="submit" value="Reservar">        
    </form>             

    {% if messages %}
    <ul>
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}   


     <!-- Sección de horas disponibles -->
        <h3>Horas Disponibles</h3>
        <ul>
            {% for hora in horas_disponibles %}
                <li>{{ hora }}</li>
            {% empty %}
                <li>No hay horas disponibles.</li>
            {% endfor %}
        </ul>

    <a href="{% url 'portada' %}"><button>Portada</button></a>
    </Center>

    


</body>
</html>
