<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar Reserva</title>
    <link rel="stylesheet" href="{% static 'usuarios/styles.css' %}">
</head>

<body>
    <div class="container">
        <h1>Realiza tu reserva</h1>
        <form method="post">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
                <div class="errorlist">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            
            {% for field in form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if field.help_text %}
                        <small class="help-text">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            
            <button type="submit" class="btn-primary">Confirmar Reserva</button>
        </form>
    </div>


    <div class="button-container" style="text-align: center; margin-top: 20px;">
        <a href="{% url 'base' %}" class="btn-volver">Volver a la Portada</a>
    </div>




</body>
</html>